@font-face {
    font-family: "oclock";
    src: url("../fonts/oclock-regular.ttf");
}
@font-face {
    font-family: "oclock-bold";
    src: url("../fonts/oclock-bold.ttf");
}

:root {
    --back-color: #0ac3a7;
    --border-color: #383838;
    --bg-color: #fffdd8;
    --darker-main-color: #09a087;

  }

html {
    background-color: var(--bg-color);
    font-family: 'oclock', sans-serif;
    margin: 0;
    font-size: 16px;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
}

.board {
    flex-grow: 1;
}

.block {
    font-weight: bold;
}

.style-builder {
    width: 300px;
    border-left: 5px solid var(--border-color);
    height: 100vh;
    padding: 10px;
    background-color: var(--back-color);
    box-sizing: border-box;
}

.style-builder__title {
    font-weight: bold;
    font-size: 1.3rem;
}

.style-builder__subtitle {
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: solid 1px rgba(0,0,0, 0.2);
}

.style-builder__line {
    display: flex;
    align-items: center;
}

.style-builder__label {
    font-weight: bold;
    width: 70px;
    display: inline-block;
}

.style-builder__label--error {
    font-weight: bold;
    color: red;
}

.style-builder__section {
    margin: 10px 0;
}

.input  {
    border: none;
    box-sizing: border-box;
}


.input--text {
    width: 100px;
    margin: 1px 0;
}

.style-builder__css {
    background: white;
    padding: 5px;
    font-family: monospace, sans-serif;
    font-size: 0.7rem;
}

.style-builder__css-declarations {
    margin: 3px 0 3px 10px;
}

.style-builder__button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--darker-main-color);
    color: white;
    cursor: pointer;
}


.style-builder__button--main {
    font-size: 1.1em;
}

.style-builder__button--selected {
    font-weight: bold;
}

.style-builder__boards button {
    margin-right: 5px;
}
.tags {
    padding: 20px;
}


